@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: #b0c4de;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4a90e2;
    border-radius: 10px;
    border: 2px solid #4a90e2;
}